.hand-button {
    cursor: pointer;
}

.divisionTable {
    width: 50%;
    height: 10px;
    font-family: sans-serif;
}

.fixtureTable {
    height: 400px;
    width: 350px;
    font-family: sans-serif;
    margin-left: 600px;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: red;
}