
.hand-button {
    cursor: pointer;
}

.divisionTable {
    width: 50%;
    height: 10px;
    font-family: sans-serif;
}

.fixtureTable {
    height: 400px;
    width: 300px;
    font-family: sans-serif;
    margin-left: 600px;
}