.hand-button {
    cursor: pointer;
}

.table {
    height: 862px;
    font-family: "sans-serif";
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: darkred;
}
